{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه ثبت‌نام/ورود</title>
    <link rel="stylesheet" href={% static 'styles.css' %}>
</head>
<body>

    <div class="header">
        <div class="auth-links">
            <a class="auth-button" href="#">ثبت‌نام</a>
            <a class="auth-button" href="#">ورود</a>
        </div>
        <div class="title">کافه رستوران عربی</div>
    </div>

</body>
</html>
