{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه ثبت‌نام/ورود</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<div class="header">
    <div class="auth-links">
        {% if user.is_authenticated %}
        <a class="auth-button" id="logout-btn" href="{% url 'logout' %}">خروج</a>
        <a class="auth-button" href="{% url 'profile_view' %}">پروفایل</a>
        <a class="auth-button" id="profile-logo" href="#">
            <img src="{% static 'cart.png' %}" alt="Logo">
        </a>
        {% else %}
        <a class="auth-button" href="{% url 'signup_email' %}">ثبت‌نام</a>
        <a class="auth-button" href="{% url 'login_user' %}">ورود</a>
        <a class="auth-button" id="profile-logo" href="#">
            <img src="{% static 'cart.png' %}" alt="Logo">
        </a>
        {% endif %}
    </div>
    <div class="title">کافه رستوران عربی</div>
</div>

<!-- منوی ناوبری -->
<nav class="sticky-nav">
    <ul>
        <li><a href="#cold_drink"><img class="logo" src="{% static 'drink.webp' %}">نوشیدنی سرد</a></li>
        <li><a href="#hot_drink"><img class="logo" src="{% static 'tea.png' %}">نوشیدنی گرم</a></li>
        <li><a href="#food"><img class="logo" src="{% static 'spaghetti.webp' %}">غذا</a></li>
        <li><a href="#hookah"><img class="logo" src="{% static 'hubble.png' %}">قلیون</a></li>
    </ul>
</nav>

<!-- بخش نوشیدنی سرد -->
<section id="cold_drink">
    <h2>نوشیدنی سرد</h2>
    <div class="items">
        {% for drink in cold_drinks %}
        <div class="product-card" data-product-id="{{ drink.id }}" data-product-type="cold_drink">
            <div class="card-header">{{ drink.name }}</div>
            <div class="card-image-container">
                <img src="{{ drink.image.url }}" alt="Product Image">
            </div>
            <p class="description">{{ drink.description }}</p>
            <div class="card-footer">
                <span class="price">{{ drink.price }}t</span>
                <div class="quantity-buttons">
                    <button class="decrease-quantity">-</button>
                    <span class="quantity" id="quantity-{{ drink.id }}">0</span>
                    <button class="increase-quantity">+</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- بخش نوشیدنی گرم -->
<section id="hot_drink">
    <h2>نوشیدنی گرم</h2>
    <div class="items">
        {% for hot_drink in hot_drinks %}
        <div class="product-card" data-product-id="{{ hot_drink.id }}" data-product-type="hot_drink">
            <div class="card-header">{{ hot_drink.name }}</div>
            <div class="card-image-container">
                <img src="{{ hot_drink.image.url }}" alt="Product Image">
            </div>
            <p class="description">{{ hot_drink.description }}</p>
            <div class="card-footer">
                <span class="price">{{ hot_drink.price }}t</span>
                <div class="quantity-buttons">
                    <button class="decrease-quantity">-</button>
                    <span class="quantity" id="quantity-{{ hot_drink.id }}">0</span>
                    <button class="increase-quantity">+</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- بخش غذا -->
<section id="food">
    <h2>غذا</h2>
    <div class="items">
        {% for food in foods %}
        <div class="product-card" data-product-id="{{ food.id }}" data-product-type="food">
            <div class="card-header">{{ food.name }}</div>
            <div class="card-image-container">
                <img src="{{ food.image.url }}" alt="Product Image">
            </div>
            <p class="description">{{ food.description }}</p>
            <div class="card-footer">
                <span class="price">{{ food.price }}t</span>
                <div class="quantity-buttons">
                    <button class="decrease-quantity">-</button>
                    <span class="quantity" id="quantity-{{ food.id }}">0</span>
                    <button class="increase-quantity">+</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- بخش قلیون -->
<section id="hookah">
    <h2>قلیون</h2>
    <div class="items">
        {% for hookah in hookahs %}
        <div class="product-card" data-product-id="{{ hookah.id }}" data-product-type="hookah">
            <div class="card-header">{{ hookah.name }}</div>
            <div class="card-image-container">
                <img src="{{ hookah.image.url }}" alt="Product Image">
            </div>
            <p class="description">{{ hookah.description }}</p>
            <div class="card-footer">
                <span class="price">{{ hookah.price }}t</span>
                <div class="quantity-buttons">
                    <button class="decrease-quantity">-</button>
                    <span class="quantity" id="quantity-{{ hookah.id }}">0</span>
                    <button class="increase-quantity">+</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


<!-- Cart Modal -->
<div id="cart-modal">
    <span id="close-cart">×</span>
    <div id="cart-container">
        <!-- Items will be dynamically added here -->
    </div>
    <div id="checkout-container">
        <button id="checkout-btn">تأیید سفارش</button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    var cartModal = document.getElementById('cart-modal');
    var profileLogo = document.getElementById('profile-logo');
    var closeBtn = document.getElementById('close-cart');
    var checkoutBtn = document.getElementById('checkout-btn');
    var cartContainer = document.getElementById('cart-container');
    var csrftoken = '{{ csrf_token }}'; // دریافت CSRF Token از قالب جنگو
    var successMessage = document.getElementById('success-message'); // پیام موفقیت

    function updateCart() {
        const cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
        cartContainer.innerHTML = '';
        let total = 0;

        cartItems.forEach(item => {
            total += item.price * item.quantity;
            const cartItemDiv = document.createElement('div');
            cartItemDiv.className = 'cart-item';
            cartItemDiv.innerHTML = `
                <span>${item.quantity} x ${item.name}</span>
                <span>${item.price}t</span>
            `;
            cartContainer.appendChild(cartItemDiv);
        });

        // نمایش قیمت کل
        const totalDiv = document.createElement('div');
        totalDiv.className = 'cart-item';
        totalDiv.innerHTML = `
            <span>مجموع:</span>
            <span>${total.toFixed(3)}t</span>
        `;
        cartContainer.appendChild(totalDiv);
    }

    profileLogo.onclick = function () {
        cartModal.style.display = 'block';
        updateCart(); // بروزرسانی سبد خرید هنگام باز کردن مودال
    };

    closeBtn.onclick = function () {
        cartModal.style.display = 'none';
    };

    window.onclick = function (event) {
        if (event.target == cartModal) {
            cartModal.style.display = 'none';
        }
    };

    document.querySelectorAll('.increase-quantity').forEach(button => {
        button.addEventListener('click', function (event) {
            event.stopPropagation();
            const quantitySpan = this.previousElementSibling;
            const productId = this.closest('.product-card').dataset.productId;
            const productType = this.closest('.product-card').dataset.productType;
            let currentQuantity = parseInt(quantitySpan.textContent);

            quantitySpan.textContent = currentQuantity + 1;

            const cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
            const product = {
                id: productId,
                type: productType,
                name: this.closest('.product-card').querySelector('.card-header').textContent,
                price: parseFloat(this.closest('.product-card').querySelector('.price').textContent),
                quantity: currentQuantity + 1
            };

            const existingItemIndex = cartItems.findIndex(item => item.id === productId && item.type === productType);
            if (existingItemIndex !== -1) {
                cartItems[existingItemIndex].quantity += 1;
            } else {
                cartItems.push(product);
            }

            localStorage.setItem('cartItems', JSON.stringify(cartItems));
            updateCart();
        });
    });

    document.querySelectorAll('.decrease-quantity').forEach(button => {
        button.addEventListener('click', function (event) {
            event.stopPropagation();
            const quantitySpan = this.nextElementSibling;
            const productId = this.closest('.product-card').dataset.productId;
            const productType = this.closest('.product-card').dataset.productType;
            let currentQuantity = parseInt(quantitySpan.textContent);

            if (currentQuantity > 0) {
                quantitySpan.textContent = currentQuantity - 1;

                const cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
                const product = {
                    id: productId,
                    type: productType,
                    name: this.closest('.product-card').querySelector('.card-header').textContent,
                    price: parseFloat(this.closest('.product-card').querySelector('.price').textContent),
                    quantity: currentQuantity - 1
                };

                const existingItemIndex = cartItems.findIndex(item => item.id === productId && item.type === productType);
                if (existingItemIndex !== -1) {
                    if (cartItems[existingItemIndex].quantity > 1) {
                        cartItems[existingItemIndex].quantity -= 1;
                    } else {
                        cartItems.splice(existingItemIndex, 1);
                    }
                }

                localStorage.setItem('cartItems', JSON.stringify(cartItems));
                updateCart();
            }
        });
    });

    checkoutBtn.onclick = function () {
    // بررسی وضعیت لاگین کاربر
    fetch('/check_login_status/', {
        method: 'GET',
        headers: {
            'X-CSRFToken': csrftoken
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.is_logged_in) {
            // اگر کاربر لاگین بود، ثبت سفارش را انجام دهد
            submitOrder();
        } else {
            // اگر کاربر لاگین نبود، به صفحه لاگین هدایت شود
            window.location.href = '/login/?next=/submit_cart/';
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
};

function submitOrder() {
    const cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];

    fetch('/submit_cart/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
        },
        body: JSON.stringify({ cartItems: cartItems })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            alert('سفارش شما با موفقیت ثبت شد!');
            localStorage.removeItem('cartItems');
            updateCart();
        } else {
            alert('خطا در ثبت سفارش');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('مشکلی در ارسال سفارش وجود دارد');
    });
};
});


</script>

</body>
</html>



